<template name="Project">
	<div class="project-container">
		{{> Description}}
		{{> Work}}
	</div>
</template>

<template name="Description">
	<div class="description-container">
		<div class="show-or-edit">
			<div class="show-content {{#if editTitle}} hidden {{/if}}">
				<div class="col-md-13">
					<h3>{{theProject.title}}</h3>
				</div>
				<div class="edit-icon">
					<button id="editTitleButton" type="button" class="btn btn-link">
						<span class="glyphicon glyphicon-edit {{#unless allowEdits}} hidden {{/unless}}">
						</span>
					</button>
				</div>
			</div>
			<div class="edit-content {{#unless editTitle}} hidden {{/unless}}">
				<div class="input-group input-group-lg">
					<input id="titleTextInput" type="text" class="form-control" value="{{theProject.title}}"
						placeholder="Project Title">
					<span class="input-group-btn btn-group">
						<button class="btn btn-link" id="acceptEditTitleButton">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
						<button class="btn btn-link" id="cancelEditTitleButton">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</span>
				</div>
			</div>
		<br>
		</div>
		<div class="show-or-edit">
			<div class="show-content {{#if editDescription}} hidden {{/if}}">
				<div class="col-md-13">
					<p>
						{{theProject.description}}		
					</p>
				</div>
				<div class="edit-icon">
					<button id="editDescriptionButton" type="button" class="btn btn-link">
						<span class="glyphicon glyphicon-edit {{#unless allowEdits}} hidden {{/unless}}">
						</span>
					</button>
				</div>
			</div>	
				<div class="edit-content {{#unless editDescription}} hidden {{/unless}}">
					<div class="col-md-14">
						<textarea type="textarea" cols="40" rows="25" class="form-control" id="descriptionTextInput" >
							{{theProject.description}}
						</textarea>
						<span class="input-group-btn btn-group">
							<button class="btn btn-link" id="acceptEditDescriptionButton">
								<span class="glyphicon glyphicon-ok"></span>
							</button>
							<button class="btn btn-link" id="cancelEditDescriptionButton">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</span>
					</div>
				</div>
			</div>
		
		<br>
		<div class="show-or-edit tags">
			<p>{{theProject.tags}}</p>
		</div>
</div>
</template>

<template name="Work">
	<div class="work-container">
		<div class="work-item">
			<div class="work-media">		
					<img src="https://www.filepicker.io/api/file/r1gC5WvzSpvaQkcqAsDE" 
							class="img-responsive" 
							alt="Image">
			</div>
			<div class="work-info">
				<em>Title</em>
				<br>
				2012
				<br>
				various varied materials
				<br>
				10x12x14 in
				<br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, unde, architecto hic suscipit officiis quisquam fugiat dolorem ab aperiam voluptatem temporibus incidunt!
			</div>	
			</div>
		<div class="work-item">
			<div class="work-media">
					<img src="https://www.filepicker.io/api/file/oyRoiaoBQoiLOuJofFgR"
							class="img-responsive" 
							alt="Image2">
			</div>
			<div class="work-info">
				<em>Lorem ipsum.</em>
				<br>
				2013
				<br>
				blood, sweat, tears
				<br>
				12x15 in
				<br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, id!
			</div>
			</div>
		<div class="work-item">
			<div class="work-media">
					<img src="https://www.filepicker.io/api/file/FAL2IcBTXSLLw9hZKzP3" alt="3" class="img-responsive">
			</div>
			<div class="work-info">
				<em>Lorem ipsum.</em>
				<br>
				2013
				<br>
				buffalo buffalo buffalo buffalo buffalo
				<br>
				9x9 in
				<br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, aliquid quibusdam illo placeat voluptates magni iusto! Repudiandae atque similique commodi.
			</div>
			</div>
	</div>
</template>
