<template name="Project">
	<div class="project-container">
		{{> Description}}
		{{> Work}}
	</div>
</template>

<template name="Description">
	<div class="description-container">
		<div class="show-or-edit">
			<div class="show-content {{#if editTitle}} hidden {{/if}}">
				<div class="col-md-13">
					<h3>{{theProject.title}}</h3>
				</div>
				<div class="edit-icon">
					<button id="editTitleButton" type="button" class="btn btn-link">
						<span class="glyphicon glyphicon-edit {{#unless allowEdits}} hidden {{/unless}}">
						</span>
					</button>
				</div>
			</div>
			<div class="edit-content {{#unless editTitle}} hidden {{/unless}}">
				<div class="col-md-14">
					<div class="input-group input-group-lg">
						<input id="titleTextInput" type="text" class="form-control" value="{{theProject.title}}"
							placeholder="Project Title">
						<span class="input-group-btn btn-group">
							<button class="btn btn-link" id="acceptEditTitleButton">
								<span class="glyphicon glyphicon-ok"></span>
							</button>
							<button class="btn btn-link" id="cancelEditTitleButton">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</span>
					</div>
				</div>
			</div>
		<br>
		</div>
		<div class="show-or-edit">
			<div class="show-content {{#if editDescription}} hidden {{/if}}">
				<div class="col-md-13">
					<p>
						{{theProject.description}}		
					</p>
				</div>
				<div class="edit-icon">
					<button id="editDescriptionButton" type="button" class="btn btn-link">
						<span class="glyphicon glyphicon-edit {{#unless allowEdits}} hidden {{/unless}}">
						</span>
					</button>
				</div>
			</div>	
				<div class="edit-content {{#unless editDescription}} hidden {{/unless}}">
					<div class="col-md-14">
						<textarea type="textarea" cols="40" rows="25" class="form-control" id="descriptionTextInput" >
							{{theProject.description}}
						</textarea>
						<span class="input-group-btn btn-group">
							<button class="btn btn-link" id="acceptEditDescriptionButton">
								<span class="glyphicon glyphicon-ok"></span>
							</button>
							<button class="btn btn-link" id="cancelEditDescriptionButton">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</span>
					</div>
				</div>
			</div>
		
		<br>
		<div class="show-or-edit tags hidden">
			<p>{{theProject.tags}}</p>
		</div>
</div>
</template>

<template name="Work">
	<div class="work-container">
		<div class="pull-right">
			<button class="btn btn-link tags" id="workDetailsButton">{{#if showDetails}} hide details {{else}} show details{{/if}}</button>
		</div>
		<div class="pull-right {{#unless allowEdits}} hidden {{/unless}}">
			<button class="btn btn-link" id="uploadWorkButton">
				<span class="glyphicon glyphicon-plus"></span>
				add work
			</button>
		</div>
		{{#each works}}
			{{> WorkItem}}
		{{/each}}

	</div>
</template>

<template name="WorkItem">
	<div class="work-item">
		<div class="row">
			<div class="work-media">		
				<img src="{{this.link}}" 
						class="img-responsive" 
						alt="Image">
			</div>
			<div class="col-md-1 {{#unless allowEdits}} hidden {{/unless}}">
				<button class="btn btn-link sort-up">
					<span class="glyphicon glyphicon-chevron-up"></span>
				</button>
				<button class="btn btn-link remove-work">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
				<button class="btn btn-link sort-down">
					<span class="glyphicon glyphicon-chevron-down"></span>
				</button>
			</div>
		</div>
		<div class="show-or-edit {{#unless showDetails}}hidden{{/unless}}">
			<div class="show-content {{#if editWorkInfo}} hidden {{/if}}">
				<div class="work-info ">
					<em>{{this.title}}</em>
					<br>
					{{this.date}}
					<br>
					{{this.media}}
					<br>
					{{this.dimensions}}
				</div>
				<div class="edit-icon pull-right {{#unless allowEdits}} hidden {{/unless}} " id="editInfoButton">
					<button class="btn btn-link">
						<span class="glyphicon glyphicon-edit"></span>
					</button>
				</div>
			</div>
			<div class="edit-content {{#unless editWorkInfo}} hidden {{/unless}}">
				<div class="col-md-12">
					<form role="form">
						<input type="text" class="form-control" id="workTitleText" value="{{this.title}}" placeholder="Title">	
						<input type="text" class="form-control" id="workDateText" value="{{this.date}}" placeholder="Date">
						<input type="text" class="form-control" id="workMediaText" value="{{this.media}}" placeholder="Media">
						<input type="text" class="form-control" id="workDimensionsText" value="{{this.dimensions}}" placeholder="Dimensions">
					</form>
				</div>
				<div class="col-md-2">
					<form role="form">
						<button class="btn btn-link" id="acceptInfoEdit">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
						<button class="btn btn-link" id="cancelInfoEdit">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</form>
				</div>	
			</div>
		</div>
	</div>
</template>
